In [1]:
import requests
from requests.auth import HTTPBasicAuth
import pandas as pd
import os
from dotenv import load_dotenv

In [2]:
load_dotenv()
REED_USER = os.getenv('REED_USER')
REED_PASSWORD = os.getenv('REED_PASSWORD')
REED_BASE_URL = "https://www.reed.co.uk/api/1.0/search/"

In [3]:
params = {
    "keywords" : "data science",
}
auth = HTTPBasicAuth(REED_USER, REED_PASSWORD)
response = requests.get(REED_BASE_URL, auth=auth, params=params)
print(response.status_code)
response_data = response.json()
print(response_data.keys())

200
dict_keys(['results', 'ambiguousLocations', 'totalResults'])

In [4]:
jobs_df = pd.json_normalize(response_data['results'])
jobs_df.head()

,jobId,employerId,employerName,employerProfileId,employerProfileName,jobTitle,locationName,minimumSalary,maximumSalary,currency,expirationDate,date,jobDescription,applications,jobUrl
0,50980134,389257,Morgan McKinley,None,None,Data Science Manager,London,80000.0,80000.0,GBP,20/09/2023,08/08/2023,We are currently hiring for a Data Science Man...,11,https://www.reed.co.uk/jobs/data-science-manag...
1,50986900,575264,Reed,None,None,Data Science Lead,M405BP,735.0,735.0,GBP,09/09/2023,08/08/2023,Reed Secure is a specialist provider of perman...,12,https://www.reed.co.uk/jobs/data-science-lead/...
2,50938687,383872,Rutherford Briant,None,None,Data Science Lead,CO49YA,90000.0,110000.0,GBP,13/09/2023,01/08/2023,"Data Science Lead - Remote - Up to 100,000 Are...",23,https://www.reed.co.uk/jobs/data-science-lead/...
3,50963399,331522,Harnham - Data & Analytics Recruitment,None,None,Data Science Manager,London,75000.0,85000.0,GBP,16/09/2023,04/08/2023,Data Science Manager (Technical Lead) London 1...,12,https://www.reed.co.uk/jobs/data-science-manag...
4,50959990,442869,Hastings Direct,None,None,Data Science Manager,London,NaN,NaN,None,02/09/2023,04/08/2023,Data Science manager Hastings is a data driven...,6,https://www.reed.co.uk/jobs/data-science-manag...

In [24]:
df_selected = jobs_df[['jobId', 'employerId','employerName', 'jobTitle', 'locationName', 'minimumSalary', 'maximumSalary', 'currency', 'date', 'applications', 'jobUrl']].copy()
df_selected['date'] = pd.to_datetime(df_selected['date'], format="%d/%m/%Y", errors='coerce')
df_selected.head()

,jobId,employerId,employerName,jobTitle,locationName,minimumSalary,maximumSalary,currency,date,applications,jobUrl
0,50980134,389257,Morgan McKinley,Data Science Manager,London,80000.0,80000.0,GBP,2023-08-08,11,https://www.reed.co.uk/jobs/data-science-manag...
1,50986900,575264,Reed,Data Science Lead,M405BP,735.0,735.0,GBP,2023-08-08,12,https://www.reed.co.uk/jobs/data-science-lead/...
2,50938687,383872,Rutherford Briant,Data Science Lead,CO49YA,90000.0,110000.0,GBP,2023-08-01,23,https://www.reed.co.uk/jobs/data-science-lead/...
3,50963399,331522,Harnham - Data & Analytics Recruitment,Data Science Manager,London,75000.0,85000.0,GBP,2023-08-04,12,https://www.reed.co.uk/jobs/data-science-manag...
4,50959990,442869,Hastings Direct,Data Science Manager,London,NaN,NaN,None,2023-08-04,6,https://www.reed.co.uk/jobs/data-science-manag...

In [26]:
print(f"total results: {response_data['totalResults']}")

total results: 1428